@import "./reset";
@import "./global";

/*-----------------------------------*\
  #SCROLL
\*-----------------------------------*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #d6d3d2;
}

::-webkit-scrollbar-thumb {
  background-color: #806d6b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5c4845;
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.button {
  width: 275px;
  height: 61px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background: #285c4c;
  transition: 0.5s ease;
  &:is(:hover, :focus) {
    background-color: #1f4e40;
    transform: scale(0.99);
  }
  &.header-btn {
    background: #eeeeee;
    border: 2px solid #285c4c;
    color: #285c4c;
    &:is(:hover, :focus) {
      color: #ffffff;
      border-color: #1f4e40;
      background: #1f4e40;
      transform: scale(0.99);
    }
  }
}

//.img-cover{
//  max-width: 870px;
//  width: auto;
//  height: 100%;
//  object-fit: cover;
//}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0 35px;
  background-color: #eeeeee;
  z-index: 4;

  &.active {
    position: fixed;
    transform: translateY(-100%);
    box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.2);
    animation: slideIn 0.5s ease forwards;
  }
  &.header-hide {
    transform: translateY(100%);
    animation: slideOut 0.5s ease forwards;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin-right: 60px;
  }
  &__nav {
    display: flex;
    gap: 45px;
    &-link {
      font-size: 15px;
      line-height: 16px;
      transition: 0.25s ease;
      position: relative;
      &:is(:hover, :focus) {
        color: #285c4c;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: #285c4c;
        transition: 0.25s ease;
        transform: scaleX(0);
        transform-origin: left;
      }
      &:is(:hover, :focus)::after {
        transform: scaleX(1);
      }
    }
  }
  &__contacts {
    display: flex;
    gap: 60px;
    margin-right: 30px;
    .header__tel {
      color: #285c4c;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
    }
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

.main {
  margin-top: 114px;

  &__wrapper {
    display: flex;
  }
  &__content {
    z-index: 2;
    min-width: 527px;
    max-width: 527px;

    &-img {
      margin: 175px 0 32px;

      img {
        height: 96px;
        width: 354px;
      }
    }
    &-text {
      margin-bottom: 40px;
      font-weight: 400;
      font-size: 36px;
      line-height: 44px;
    }
    &-button {
      margin-bottom: 150px;
    }
    &-social {
      display: flex;
      gap: 20px;
      margin-bottom: 80px;
    }
  }
  &__decor {
    width: 839px;
    height: 748px;
    margin-left: -50px;
  }
}

/*-----------------------------------*\
  #CATALOG
\*-----------------------------------*/

.catalog {
  margin-top: 80px;
  &__wrapper {
    display: flex;
  }
  &__categories {
    margin-right: 150px;
    .categories-title {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      color: #285c4c;
    }
    .categories-nav {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .categories-link {
        font-size: 22px;
        line-height: 27px;
        &.active {
          font-weight: 700;
        }
      }
    }
  }
}
.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 32px;
  .products-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
    height: 100%;

    &-img {
      margin-bottom: 21px;
      transition: 0.3s ease;
      &:is(:hover, :focus) {
        transform: scale(0.9);
      }
      img {
        width: 276px;
        height: 276px;
      }
    }
    &-info {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
    }
    &-wrapper {
      display: flex;
    }
    &-left {
      flex: 1 0 50%;
    }
    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    &-title {
      font-size: 16px;
      line-height: 17px;
    }
    &-arrow {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 30px;
      transition: 0.3s ease;
      &:is(:hover, :focus) {
        transform: scale(0.9);
      }
    }
    &-price {
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      text-align: end;
    }
  }
}

/*-----------------------------------*\
  #NEWS
\*-----------------------------------*/

.news {
  &__wrapper {
    margin: 80px 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  &__updates {
    display: flex;
    .updates-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 60px;
      margin-right: 30px;
    }
    .updates-text {
      margin-bottom: 65px;
      font-weight: 700;
      font-size: 48px;
      line-height: 59px;
      color: #285c4c;
      transform: rotate(270deg);
    }
  }

  &__sales {
    display: flex;
    .sales-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 60px;
      margin-left: 30px;
    }
    .sales-text {
      margin-bottom: 59px;
      font-weight: 700;
      font-size: 48px;
      line-height: 59px;
      color: #285c4c;
      transform: rotate(270deg);
    }
  }

  .news-img {
    width: 377px;
    height: 422px;
    object-fit: cover;
  }
  .news-btn {
    display: flex;
    justify-content: center;
    transition: 0.3s ease;
    &:is(:hover, :focus) {
      transform: scale(1.1);
    }
    img {
      width: 25px;
      height: 18px;
    }
  }
}

/*-----------------------------------*\
  #BENEFITS
\*-----------------------------------*/

.benefits {
  background: #eeeeee;
  padding: 32px 0 56px;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 210px;
    padding: 0 72px 0 37px;
    .list__item {
      display: grid;
      justify-items: center;
      align-items: center;
      text-align: center;
      img {
        height: 72px;
        width: 72px;
      }
      &-title {
        margin-bottom: 7px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #285c4c;
      }
      &-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  padding: 80px 0 80px;
  &__wrapper {
    display: flex;
    gap: 30px;

    .about__img {
      width: 703px;
      height: 499px;
      margin-left: -120px;
    }
    .about__content {
      &-title {
        margin-bottom: 28px;
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        color: #285c4c;
      }
      &-text {
        font-size: 22px;
        line-height: 27px;
        &:not(:last-child) {
          margin-bottom: 32px;
        }
      }
    }
  }
}

/*-----------------------------------*\
  #PRODUCT
\*-----------------------------------*/

.product {
  margin-top: 114px;
  padding-top: 30px;
  padding-bottom: 80px;
  &__wrapper {
    display: flex;
    h2 {
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin-right: 32px;
    &-title {
      width: 268px;
      margin-bottom: 18px;
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      color: #285c4c;
    }

    &-text {
      font-size: 15px;
      line-height: 17px;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      > h2 {
        margin-bottom: 5px;
      }
      .form-materials {
        margin-bottom: 18px;
        padding-left: 45px;
        input,
        label {
          display: inline;
          width: auto;
          font-size: 22px;
          line-height: 27px;
        }
        .container {
          display: block;
          position: relative;
          padding-left: 65px;
          margin-bottom: 5px;
          cursor: pointer;

          /* Hide the browser's default checkbox */
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }
        }

        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          width: 24px;
          height: 24px;
          background-color: #eeeeee;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
          background-color: hsla(162, 39%, 26%, 0.2);
        }

        /* When the checkbox is checked, add a green background */
        .container input:checked ~ .checkmark {
          background-color: hsla(162, 39%, 26%, 0.5);
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
          display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
          left: 9px;
          top: 5px;
          width: 5px;
          height: 10px;
          border: solid #285c4c;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      .form-amount {
        display: flex;
        margin-bottom: 18px;
        gap: 32px;
        h2 {
          margin-bottom: 18px;
        }
        .count {
          display: flex;
          flex-direction: column;
          width: 175px;
          &-btn {
            display: flex;
            background: #eeeeee;
            height: 36px;
            width: 173px;
            button,
            input {
              width: 33.33%;
              transition: 0.5s ease;
              &:is(:hover, :focus) {
                background-color: hsla(162, 39%, 26%, 0.5);
              }
            }
            button {
              display: flex;
              align-items: center;
              justify-content: center;
            }
            input {
              text-align: center;
              outline: none;
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                appearance: none;
                margin: 0;
              }
            }
          }
        }
        .price {
          display: flex;
          flex-direction: column;
          span {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #285c4c;
          }
        }
      }
    }
  }
  &__images {
    display: flex;
    gap: 32px;
    .small {
      width: 173px;
      height: 249px;
      margin-bottom: 32px;
    }
    .medium {
      width: 173px;
      height: 320px;
    }
    big {
      width: 173px;
      height: 320px;
    }
  }
}

/*-----------------------------------*\
  #SIMILAR
\*-----------------------------------*/

.similar {
  background: #eeeeee;
  padding: 42px 0 80px;
  margin-bottom: 80px;
  &__wrapper {
    > h1 {
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      color: #285c4c;
      margin-bottom: 46px;
    }
  }
  .products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 32px;
  }
}

/*-----------------------------------*\
  #QUESTIONS
\*-----------------------------------*/

.questions {
  padding: 80px 0 80px;
  margin-bottom: 80px;
  background: #eeeeee;
  &__wrapper {
    display: flex;
    gap: 113px;
  }
  img {
    width: 518px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    margin: 0 auto;
    h1 {
      text-align: center;
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
      color: #285c4c;
      margin-bottom: 10px;
    }
    p {
      text-align: center;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 40px;
    }
    label {
      color: black;
      font-weight: 600;
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    input {
      border: 2px solid #c3cad9;
      outline: none;
      height: 56px;
      margin-top: 10px;
      padding: 20px;
      font-weight: 500;
    }
    textarea {
      width: 360px;
      height: 166px;
      margin-top: 10px;
      resize: none;
      border: 2px solid #c3cad9;
      outline: none;
      padding: 20px;
      font-weight: 500;
      background: #eeeeee;
    }
    button {
      margin: 0 auto;
    }
  }
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  padding: 37px 0 51px;
  background: #eeeeee;
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .footer__logo {
      width: 265px;
      margin-right: 35px;
      &-img {
        margin-bottom: 15px;
        width: 173px;
        height: 39px;
      }
      &-text {
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
      }
    }
    .footer__links {
      margin-right: 60px;
      display: flex;
      flex-direction: column;
      &-nav {
        margin-bottom: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
        .link-nav {
          position: relative;
          font-size: 15px;
          line-height: 16px;
          transition: 0.25s ease;
          &:is(:hover, :focus) {
            color: #285c4c;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: -1px;
            left: 0;
            height: 1px;
            width: 100%;
            transition: 0.25s ease;
            transform: scaleX(0);
            transform-origin: left;
            background-color: #285c4c;
          }
          &:is(:hover, :focus)::after {
            transform: scaleX(1);
          }
        }
      }
      &-social {
        display: flex;
        justify-content: flex-end;
        gap: 21px;
      }
    }
    .footer__telephone {
      .footer__number {
        margin-bottom: 15px;
        text-align: center;
        font-weight: 700;
        font-size: 17px;
        line-height: 21px;
        color: #285c4c;
      }
    }
  }
}
.main__fluid {
  position: relative;
  min-height: 748px;
  width: 1440px;
  max-width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  & > img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    max-width: 60%;
    object-fit: cover;
    object-position: left;
  }
}
